/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 /*background-color: silver;*/
 margin: 0px auto;
 padding: 15px;
 }
 #wrapper h2 {
 	background-color: #4076a5;
 	color:white;
 	padding: 15px;
 	margin-top: -15px
}
#header{
 height: 30px;
 background-color: #3e79ad;
 padding-top: 15px;
 margin-bottom: 15px;
 color: white;
}
#navigation{
 height: 300px;
 width: 200px;
 /*background-color: blue;*/
 display: inline-block;
 vertical-align: top;
}
#button1{
  background-color: #3a74a8;
  border-radius: 5px;
  height: 30px;
  padding: auto;
}
#button2{
  background-color: #ec8c19;
  border-radius: 5px;
  padding: auto;
  height: 30px;
}
#advertisement{
  width: 150px;
  height: 300px;
  /*background-color: blue;*/
  background-image: url("DojoAssignments/WebFundamentals/portfolio/images-2/ad_background.png");
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}
#main_content{
 height: 400px;
 width: 700px;
 /*background-color: red;*/
 display: inline-block;
 margin-left: 15px;
 padding: 15px;
}
#server{
  display: block;
  margin: auto;
  width: 50%;
}
#main_content h3 {
  color: blue;
}
#phone{
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-left: 65%;
}
#footer{
 height: 150px;
 width: 600px;
 outline-color: blue;
 outline-style: solid;
 display: inline-block;
 /*background-color: purple;*/
 /*margin-top: 15px;*/
}
