{% load staticfiles %}
<html>
  <head>
    <style>
      table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even){
        background-color: #dddddd;
      }
    </style>
    <!-- <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen"> -->
  </head>

  <body>
    <header>
      {% if user.is_authenticated %}
        <!-- Hi, {{ user.username }} -->
        {% block logout %}
          <p align="right"><a href="{% url 'logout' %}">Logout</a></p>
        {% endblock %}
      {% else %}
        <a href="{% url 'login' %}">Login</a> / <a href="{% url 'signup' %}">Signup</a>
      {% endif %}
    </header>
    <hr>
    <main>
      <div>
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <hr>
    <!-- <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> -->
  </body>
</html>
